In [4]:
import pandas as pd

#add column to each csv for their genre & remove leading number in Movie name column
af = pd.read_csv('imdb_action_movies_2024.csv')
af['Movie_name'] = af['Movie_name'].str.replace(r'^\d+\.\s*', '', regex=True) #remove the leading number
af['genre'] = 'action'
af.to_csv("imdb_action_movies_2024.csv", index=False)

bf = pd.read_csv('imdb_animation_movies_2024.csv')
bf['Movie_name'] = bf['Movie_name'].str.replace(r'^\d+\.\s*', '', regex=True)
bf['genre'] = 'animation'
bf.to_csv("imdb_animation_movies_2024.csv", index=False)

cf = pd.read_csv('imdb_crime_movies_2024.csv')
cf['Movie_name'] = cf['Movie_name'].str.replace(r'^\d+\.\s*', '', regex=True)
cf['genre'] = 'crime'
cf.to_csv("imdb_crime_movies_2024.csv", index=False)

ef = pd.read_csv('imdb_horror_movies_2024.csv')
ef['Movie_name'] = ef['Movie_name'].str.replace(r'^\d+\.\s*', '', regex=True)
ef['genre'] = 'horror'
ef.to_csv("imdb_horror_movies_2024.csv", index=False)

ff = pd.read_csv('imdb_romance_movies_2024.csv')
ff['Movie_name'] = ff['Movie_name'].str.replace(r'^\d+\.\s*', '', regex=True)
ff['genre'] = 'romance'
ff.to_csv("imdb_romance_movies_2024.csv", index=False)

In [5]:
#To merge csv file to a dataframe
csv_files = ['imdb_action_movies_2024.csv', 'imdb_animation_movies_2024.csv', 'imdb_crime_movies_2024.csv', 'imdb_horror_movies_2024.csv', 'imdb_romance_movies_2024.csv']
df_list = [pd.read_csv(file) for file in csv_files]
merged_df = pd.concat(df_list, ignore_index=True)

merged_df.info()

merged_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3564 entries, 0 to 3563
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie_name  3564 non-null   object
 1   Rating      3564 non-null   float64
 2   Votes       3564 non-null   object
 3   Duration    3564 non-null   object
 4   genre       3564 non-null   object
dtypes: float64(1), object(4)
memory usage: 139.3+ KB

            Rating
count  3564.000000
mean      5.921998
std       1.579876
min       1.000000
25%       4.900000
50%       6.000000
75%       7.000000
max      10.000000

In [6]:
from sqlalchemy import create_engine

#MySQL Database
host = "localhost"
user = "root"
password = "root"
database = "imdb"

#SQLAlchemy engine, install pymysql if not installed
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

#Store to MySQL Database table
merged_df.to_sql('imdb_table', con=engine, if_exists='replace', index=False)

print('Merged data moved to SQL database')

Merged data moved to SQL database